body{
    justify-content: center;
    align-items: center;
     
}


.container {
    max-width: 800px; 
    margin: 0 auto; 
    padding: 20px; 
}
.container .main-title {
    text-align: center; 
    color: rgb(47, 216, 47); 
    font-weight: bold; 
}
.container .image10000Codeurs {
    width: 320px; 
    height: auto; 
    display: block; 
    margin-bottom: 20px; 
    margin-right: 20px;
}

.image-text {
    display: flex; 
    align-items: center; 
  
}



.text-content {
  text-align: left;
    align-items: center; 
    font-size: 23px;
}

.impact-social {
    font-weight: bold;
    color: red;
}

.sponsor {
    font-weight: bold;
    color: black;
}

.codeurs {
    color: blue;
    font-weight: bold;
    text-decoration: underline; 
}
.ils-en-parlent{
    color: rgb(206, 59, 206);
    font-weight: bold;
}
.orange{
    color: black;
    font-weight: bold;
}
.objis{
    color: rgb(59, 28, 197);
    text-decoration: underline;
    font-weight: bold;
}

table{
    border-collapse: collapse;
    width: 400px;
  }
  .ligne-1{
    color:red;
  }
  th, td{
    border: 1px solid black;
    padding: 10px;
    vertical-align: top;
  }
  