body{
    justify-content: center;
    align-items: center;
     
}


.container {
    max-width: 800px; /* Largeur maximale du conteneur */
    margin: 0 auto; /* Centrage horizontal du conteneur */
    padding: 20px; /* Espacement intérieur du conteneur */
}
.container .main-title {
    text-align: center; /* Centrage du texte */
    color: rgb(47, 216, 47); /* Couleur verte */
    font-weight: bold; /* Texte en gras */
}
.container .image10000Codeurs {
    width: 320px; /* Ajuster la largeur de l'image à 100% du conteneur */
    height: auto; /* Hauteur automatique pour maintenir le ratio */
    display: block; /* Assure que l'image se comporte comme un bloc */
    margin-bottom: 20px; /* Espacement en bas de l'image */
    margin-right: 20px;
}

.image-text {
    display: flex; /* Utilisation de flexbox pour aligner les éléments en ligne */
    align-items: center; /* Centrer verticalement les éléments */
  
}



.text-content {
  text-align: left;
    align-items: center; /* Centrer verticalement les éléments */
    font-size: 23px;
}

.impact-social {
    font-weight: bold;
    color: red;
}

.sponsor {
    font-weight: bold;
    color: black;
}

.codeurs {
    color: blue;
    font-weight: bold;
    text-decoration: underline; /* Souligne le texte */
}
.ils-en-parlent{
    color: rgb(206, 59, 206);
    font-weight: bold;
}
.orange{
    color: black;
    font-weight: bold;
}
.objis{
    color: rgb(59, 28, 197);
    text-decoration: underline;
    font-weight: bold;
}

table{
    border-collapse: collapse;
    width: 400px;
  }
  .ligne-1{
    color:red;
  }
  th, td{
    border: 1px solid black;
    padding: 10px;
    vertical-align: top;
  }
  